* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: grey;
  font-family:'exo', sans-serif;
}

/* Main container */

.toggle{
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  background: rgb(241, 239, 239);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1{
    text-align: center;
    background: grey;
    color: white;
    width: 100%;
    font-size: 2rem;
  }
}

/* Password Lenght & Password Amount*/

.generatorPass{
  display: flex;
  justify-content: center;
  align-items: center;
}

.passnum, .numgen{
  text-align: center;
  margin: 0 1rem;

  p {
    margin: 0 0 0.5rem 0;
  }

  input{
    display: inline-block;
    text-align: center;
    border: none;
    border-bottom: 2px solid grey;
    background: none;
    width: 48px;
    height: 24px;
    font-weight: 600;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
}

.increment, .decrement{
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: none;
  background: grey;
  color: white;
}

/* Password Settings Section */

.character-settings,
.extra-settings {
  display: grid;
  grid-template-columns: 10rem auto;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.symbolsel {
  width: 94px;
  height: 24px;
}

.symballowed{
  display: flex;
  margin: 1rem 0;
  align-items: center;

  p {
    margin: 0 1rem 0 0;
  }
}

/* Lines, Modal */

.modal {
  position: fixed;
  bottom: 0;
  width: 35rem;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  opacity: 0;
  z-index: 1;
  animation-name: appearance;
  animation-duration: 4s;
}

/* Sliders */

.toggle{
  position:relative;

  input{
    position: absolute;
    appearance: none;
    inset: 0;
    border-radius: 2rem;
    overflow: hidden;
    
    &:checked + .slider{
      background-color: grey;
    }

    &:checked + .slider:before{
      transform: translateX(20px);
    }
  }

  .slider{
    position: relative;
    display: block;
    cursor: pointer;
    background-color: grey;
    width: 44px;
    height: 24px;
    

    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      height: 20px;
      width: 20px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }
  }
}

/* Password Section */

.get-btn{
  padding: 0.5rem;
  border-radius: 5px;
  background: grey;
  border: 0;
  margin: 1rem;
  color: white;
  font-weight: 600;
}

.passGenerated{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pass{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 0.5rem;
  background: grey;
  .passB{
    display: flex;
    gap: 0.5rem;
  }
}

.copy-btn, 
.delete-btn{
  border: none;
  background: none;
  cursor: pointer;
  svg{
    fill: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
      fill: yellow;
    }
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    bottom: -20px;
  }

  50% {
    opacity: 1;
    bottom: 10px;
  }

  100% {
    opacity: 0;
    bottom: -20px;
  }
}

@media (min-width: 768px) {
  .passSettings {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .character-settings,
  .extra-settings {
    grid-template-columns: 9rem 3rem;
  }
}