* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: grey;
  font-family:'exo', sans-serif;
}

/* Main container */

main {
  width: 100%;
  background: rgb(241, 239, 239);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;

  .passSettings{

    z-index: 0;
  }
}

.closed{
  margin-top: -50rem;
}

.hidden{
  display: none;
}

header{
  text-align: center;
  background: black;
  color: white;
  width: 100%;
  z-index: 1;

  h1{
    margin: 0 0.5rem;
    font-size: 1.5rem;
    z-index: 1;
  }
}

/* Password Settings Section */

.basicSet, .exSet{
  margin-top: 1rem;

  h2{
    border-bottom: 1px solid black;
  }
}

.character-settings,
.extra-settings {
  display: grid;
  grid-template-columns: 10rem auto;
  gap: 1rem;
  align-items: center;
  margin: 0.5rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.symbolsel {
  width: 94px;
  height: 24px;
  padding: 0.5rem;
}

.symballowed{
  display: flex;
  margin: 0.5rem;
  align-items: center;

  p {
    margin: 0 1rem 0 0;
  }
}

/* Sliders */

.toggle{
  position:relative;

  input{
    position: absolute;
    appearance: none;
    inset: 0;
    border-radius: 2rem;
    overflow: hidden;
    
    &:checked + .slider{
      background-color: grey;
    }

    &:checked + .slider:before{
      transform: translateX(20px);
    }
  }

  .slider{
    position: relative;
    display: block;
    cursor: pointer;
    background-color: grey;
    width: 44px;
    height: 24px;
    

    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      height: 20px;
      width: 20px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }
  }
}

/* Password Lenght & Password Amount*/

.generatorPass{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.passnum, .numgen{
  text-align: center;
  margin: 0 1rem;

  p {
    margin: 0 0 0.5rem 0;
  }

  input{
    display: inline-block;
    text-align: center;
    border: none;
    border-bottom: 2px solid grey;
    background: none;
    width: 48px;
    height: 24px;
    font-weight: 600;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
}

.increment, .decrement{
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: none;
  background: grey;
  color: white;
  cursor: pointer;
  &:active{
    background-color:white;
  }
}

.get-btn{
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background: grey;
  border: 0;
  margin: 1rem;
  color: white;
  font-weight: 600;
}

/* Password Section */

.passGenerated{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pass{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 0.5rem;
  background: grey;
  border: 1px solid black;
  .passB{
    display: flex;
    gap: 0.5rem;
  }
}

.copy-btn, 
.delete-btn{
  border: none;
  background: none;
  cursor: pointer;
  svg{
    fill: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
      fill: yellow;
    }
  }
}

/* Modal */

.modal {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  display: none;
  color: white;
  font-weight: 600;
  opacity: 0;
  z-index: 1;
  animation-name: appearance;
  animation-duration: 4s;
}

.error{
  background-color: red;
}

.copy{
  background-color: green;
}

/* Close Btn */

.closeBtn{
  position: absolute;
  right: 10px;
  top: 4px;
  width: 24px;
  height: 24px;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 40rem) {
  .passSettings {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .character-settings,
  .extra-settings {
    grid-template-columns: 9rem 3rem;
  }

  .generatorPass{
    flex-direction: row;
  }

  .modal{
    max-width: 30rem;
    bottom: 5px;
    left: 5px;
  }

  .closeBtn{
    display: none;
  }
}