:root {
  --main1: rgb(216, 169, 108);
  --body1: rgb(173, 124, 59);
  --screen: rgb(161, 108, 38);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--body1);
  font-family:'exo', sans-serif;
}

/* Main container */

main {
  width: 100%;
  background: var(--main1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  h1{
    text-align: center;
    margin: 1rem;
    max-width: 20rem;
  }
}

/* Password Number Length Section */

.passnum {
  display: grid;
  gap: 1rem;
  grid-template-columns: 9.688rem auto;
  text-align: center;
  margin: 1rem
}

.passnum p{
  width: 10rem;
}

#numPass{
  font-weight: 600;
}

/* Password Settings Section */

.character-settings,
.extra-settings {
  display: grid;
  grid-template-columns: 15rem auto;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* Lines, Modal */

.linebreak {
  width: 15rem;
  height: 1px;
  background: rgba(0, 0, 0, 0.4);
}

.copied-modal {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20rem;
  height: 40px;
  background: rgb(5, 179, 5);
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  opacity: 0;
  z-index: 1;
  animation-name: appearance;
  animation-duration: 2s;
}

/* Sliders */

.toggle{
  position:relative;

  input{
    position: absolute;
    appearance: none;
    inset: 0;
    border-radius: 2rem;
    overflow: hidden;
    
    &:checked + .slider{
      background-color: var(--screen);
    }

    &:checked + .slider:before{
      transform: translateX(20px);
    }
  }

  .slider{
    position: relative;
    display: block;
    cursor: pointer;
    background-color: var(--body1);
    width: 44px;
    height: 24px;
    

    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      height: 20px;
      width: 20px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }
  }
}

/* Password Section */

.get-btn{
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  background: var(--screen);
  border: 0;
}

.saved-passwords{
  text-align: center;
}

.passGenerated{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 10rem;
}

.pass{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 0.5rem;
  background: grey;
  .passB{
    display: flex;
    gap: 0.5rem;
  }
}

.copy-btn, 
.delete-btn{
  border: none;
  background: none;
  cursor: pointer;
  svg{
    fill: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



@keyframes appearance {
  /* Sets up the animation for the modal's appearance on the push of the copy button */
  0% {
    opacity: 0;
    bottom: -20px;
  }

  50% {
    opacity: 1;
    bottom: 0;
  }

  100% {
    opacity: 0;
    bottom: -20px;
  }
}