* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: grey;
  font-family:'exo', sans-serif;
  display: grid;
  place-items: center;
}

/* Main container */

main{
  width: 40rem;
  height: 30rem;
  h1{
    font-size: 1.5rem;
  }
}

section{
  height: inherit;
  display: grid;
  grid-template-columns: 15rem auto;
}

#generatorSection {
  background: gainsboro;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  .passSettings{
    display: flex;
    flex-direction: column;
  }
}

header{
  background: black;
  color: white;
  padding: 0.5rem;
  z-index: 1;
}

/* Password Settings Section */

.basicSet, .exSet{
  margin-top: 1rem;

  h2{
    border-bottom: 1px solid black;
  }
}

.character-settings,
.extra-settings {
  display: grid;
  grid-template-columns: 9rem 3rem;
  gap: 1rem;
  align-items: center;
  margin: 0.5rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.symbolsel {
  width: 72px;
  height: 24px;
}

.symballowed{
  display: flex;
  align-items: center;
  margin-left: -27px;

}

/* Sliders */

.toggle{
  position:relative;
  input{
    position: absolute;
    appearance: none;
    inset: 0;
    border-radius: 2rem;
    overflow: hidden;
    
    &:checked + .slider{
      background-color: green;
    }

    &:checked + .slider:before{
      transform: translateX(20px);
    }
  }

  .slider{
    position: relative;
    display: block;
    cursor: pointer;
    background-color: grey;
    width: 44px;
    height: 24px;
    

    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      height: 20px;
      width: 20px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }
  }
}

/* Password Lenght & Password Amount*/

.generatorPass{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem;
}

.passnum, .numgen{
  display: flex;
  justify-content: space-between;
  width: 100%;

  p{
    margin-right: 2.25rem;
  }

  input{
    display: inline-block;
    text-align: center;
    border: none;
    border-bottom: 2px solid grey;
    background: none;
    width: 48px;
    height: 24px;
    font-weight: 600;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
}

.increment, .decrement{
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: none;
  background: grey;
  color: white;
  cursor: pointer;
  &:active{
    background-color:green;
  }
}

.get-btn{
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background: grey;
  border: 0;
  margin: 1rem;
  color: white;
  font-weight: 600;
  &:active{
    background-color: green;
  }
}

/* Password Section */

.saved-passwords{
  overflow-y: scroll;
  background-color: darkgray;
}

.pass{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  background: lightgray;
  .passB{
    display: flex;
    gap: 0.5rem;
  }
}

.copy-btn, 
.delete-btn{
  border: none;
  background: none;
  cursor: pointer;
  svg{
    fill: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
      fill: yellow;
    }
  }
}

.del{
  background-color: red;
}

.copy{
  background-color: green;
}

/* Close Btn */

.closeBtn{
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  background: grey;
  color: white;
  border: none;
  border-radius: 5px;
  &:hover{
    background: red;
  }
}

.closed{
  display: none;
  overflow: hidden;
}

.hidden{
  display: none;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 40rem) {
  main{
    width: 100%;
    height: 100%;
  }

  #generatorSection{
    width: 100%;
  }

  section{
    display: block;
  }

  .closeBtn{
    display: block;
  }

  .saved-passwords{
    overflow-y:auto;
  }
}