* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main{
    width: 100%;
    background: rgb(140, 196, 214);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.passgen{
    background: rgb(85, 156, 180);
    font-size: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin: 1rem;
    width: 22rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-all;
}

.character-settings, .extra-settings{
    display: grid;
    grid-template-columns: 20rem 20px;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

input[type="number"]{
    width: 60px;
    height: 40px;
    text-align: center;
    margin: 1rem 0;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    }
}

.passnum{
    display: grid;
    grid-template-columns: 12.5rem 9rem;
    gap: 1rem;
    align-items: center;
}

.Passstr{
    text-align: center;
    margin: 1rem;
}

.Passstr p:first-of-type {
    font-size: 1.5rem;
}

#passrating {
    margin: 1rem;
}

.increase, .decrease{
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 0.2s;
    &:active{
        background: rgb(223, 218, 218);
    }
}

.increase{
    margin-right: -5px;
}

.decrease{
    margin-left: -5px;
}

.linebreak{
    width: 15rem;
    height: 1px;
    background: rgba(0, 0, 0, 0.4);
}

.get-btn, .copy-btn{
    width: 5rem;
    height: 2rem;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 0.1s;
    &:active{
        background: rgb(223, 218, 218);
    }
}

.active{
    background: rgb(223, 218, 218);
    transition: all 0.2s ease-in-out;
}

.get-btn{
    margin-right: 5em;
}

.copied-modal{
    position: fixed;
    top: 20px;
    width: 100%;
    height: 40px;
    background: rgb(5, 179, 5);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 0;
    z-index: 1;
    animation-name: appearance;
    animation-duration: 2s;
}

@keyframes appearance{
    0%{
        opacity: 0;
        top: -20px;
    }

    50% {
        opacity: 1;
        top: 0;
    }

    100%{
        opacity: 0;
        top: -20px;
    }
}

@media only screen and (max-width: 420px) {
    .copied-modal{
        width: 100%;
    }
}